.maindiv{
    margin: auto;
    width: 50%;
    // border: 3px solid green;
    padding: 10px;
}
.btn{
    padding-top: 2px;
    padding-bottom: 2px;
}
.content{
    background-color: #fdfdfd;
    margin-bottom: 4rem;

}
h4
{
    padding-left: 5rem;
    padding-top: 1rem;
    font-weight: 500;
}
.maindiv{
    margin-bottom: 4rem;
}